# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

# Host of the database
DATABASE_HOST=

# Database user name
DATABASE_USER=

# Database password
DATABASE_PASSWORD=

# Database name
DATABASE_DBNAME=