table,
th,
td {
  border: 1px solid black;
}

.container{
  text-align: center !important;
}

.classes-overview{
  text-align: center;
  justify-content: center;
  text-align: center;
}

table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
  margin-top: 20px;
}
